table th{
	border-top: none;
}

table th#CELL1 {
	background-color:#E8EAF6;
	border-right: black;
}

table th#CELL2 {
	background-color:#3F51B5;
}

table th#CELL2 + th#CELL2 { 
	border-left: 2px solid #7986CB; 
}

/* centering of objects */
object {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* centering of images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* remove toc on the right and increase page width */
.md-sidebar--secondary {
  display: none;
}
@media only screen and (min-width: 60em) {
  .md-content {
    margin-right: 0;
  }
}